<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Contacto</servlet-name>
  	<display-name>Contacto</display-name>
  	<description></description>
  	<servlet-class>controller.Contacto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Inicio</servlet-name>
  	<display-name>Inicio</display-name>
  	<description></description>
  	<servlet-class>controller.Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Contacto</servlet-name>
  	<url-pattern>/Contacto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Inicio</servlet-name>
  	<url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
</web-app>
